{% extends 'base.html.twig' %}

{% block title %}Liste de l'école{% endblock %}

{% block body %}
    <h1 class="mb-2 mt-0 text-5xl font-medium leading-tight text-primary">
        Liste des écoles
    </h1>

<!------------------------------------------------------- ---------------------------------------------------->
<!------------------------------------------------------- ---------------------------------------------------->
<!---------------------------- Pop up qui affiche la demamande de confirmation ------------------------------->
<!------------------------------------------------------- ---------------------------------------------------->
<!------------------------------------------------------- ---------------------------------------------------->    
<!--   marche avec le script tout en bas du fichier index.html.twog   -->
    <div id="modal" class="modal hidden fixed inset-0 flex items-center justify-center z-50">
        <div class="modal-overlay absolute inset-0 bg-black opacity-30"></div>
        <div class="modal-content bg-white text-center py-6 px-8 rounded shadow-lg">
            <p>Êtes-vous sûr de vouloir supprimer cet élément ?</p>
            <div class="mt-4">
                <button id="confirmBtn" class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded mr-2">Oui</button>
                <button id="cancelBtn" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded">Non</button>
            </div>
        </div>
    </div>


<!------------------------------------------------------- ---------------------------------------------------->
<!------------------------------------------------------- ---------------------------------------------------->
<!------------------------------ Pop up qui affiche le message de succes ------------------------------------->
<!------------------------------------------------------- ---------------------------------------------------->
<!------------------------------------------------------- ---------------------------------------------------->
<!--   Pop up qui affiche le message de la foncion _____________ du controller EcoleController.php   -->
    {% for flashMessage in app.flashes('success') %}
        <!-- Fenêtre modale -->
        <div id="notificationModal" class="fixed z-10 inset-0 overflow-y-auto">
            <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
                <!-- Fond de la modale -->
                <div class="fixed inset-0 transition-opacity">
                    <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
                </div>
    
                <!-- Contenu de la modale -->
                <span class="hidden sm:inline-block sm:align-middle sm:h-screen"></span>&#8203;
                <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
                    <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                        <div class="sm:flex sm:items-start">
                            <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-green-100 sm:mx-0 sm:h-10 sm:w-10">
                                <!-- Icône de notification -->
                                <svg class="h-6 w-6 text-green-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                                </svg>
                            </div>
                            <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                                <!-- Message de notification -->
                                <h3 class="text-lg leading-6 font-medium text-gray-900">
                                    Succès !
                                </h3>
                                <div class="mt-2">
                                    <p class="text-sm text-gray-500">
                                        {{ flashMessage }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                        <button type="button" onclick="window.location.href='{{ path('app_ecole') }}'" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-yellow-500 text-base font-medium text-white hover:bg-yellow-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500 sm:ml-3 sm:w-auto sm:text-sm">
                            Fermer
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <!--   fin   -->


     
<!------------------------------------------------------- ---------------------------------------------------->
<!------------------------------------------------------- ---------------------------------------------------->
<!------------------------------------- Barre de recherche Dynamique  ---------------------------------------->
<!------------------------------------------------------- ---------------------------------------------------->
<!------------------------------------------------------- ---------------------------------------------------->

<!--   Pour la barre de recherche dynamique  -->  
<!--   °Ajouter la div ci dessous avec la balise form>   -->  
<!--   °Créer le fichier Script.js ( il est créé du coup maintenant), ajouter le code pour faire la recherche ( voir js/script.js)  -->
<!--   °Ajouter dans base.html.twig ( c'est fait ) la ligne <script src="{{ asset('js/script.js') }}" type="text/javascript"></script>
et     <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>  -->
<div class="flex items-center justify-center">
  <form>
    <div class="relative text-gray-600 focus-within:text-gray-400">
      <span class="absolute inset-y-0 left-0 flex items-center pl-2">
        <button type="submit" class="p-1 focus:outline-none focus:shadow-outline" disabled>
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" class="w-6 h-6"><path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
        </button>
      </span>
      <input id="Recherche" type="text" class="py-2 text-sm text-white bg-gray-900 rounded-md pl-10 focus:outline-none focus:bg-white focus:text-gray-900" placeholder="Recherche..." autocomplete="off">
    </div>
  </form>

  <a href="{{ path('ecole_add') }}" class="inline-block px-4 py-2 leading-none border rounded text-white bg-yellow-500 hover:bg-yellow-600 ml-8 mt-4 lg:mt-0">
        Ajouter une école
    </a>
</div>


<!------------------------------------------------------- ----------------------------------------------------->
<!------------------------------------------------------- ----------------------------------------------------->
<!------------------------------------------------ Tableau ---------------------------------------------------->
<!------------------------------------------------------- ----------------------------------------------------->
<!------------------------------------------------------- -------------------------------------------------- -->

    <div class="flex flex-col mr-8 ml-8">
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
                <div class="overflow-hidden">
                    <div class="w-full overflow-x-auto">
                        <table class="min-w-full text-left text-sm font-light table-auto">
                            <thead class="border-b font-medium dark:border-neutral-500">
                                <tr>
                                    <th scope="col" class="px-6 py-4">#</th>
                                    <th scope="col" class="px-6 py-4">Nom</th>
                                    <th scope="col" class="px-6 py-4">Ville</th>
                                    <th scope="col" class="px-6 py-4">Email</th>
                                    <th scope="col" class="px-6 py-4">Auditeur</th>
                                    <th scope="col" class="px-6 py-4">Détails</th>
                                    <th scope="col" class="px-6 py-4">Supprimer</th>
                                </tr>
                            </thead>
                            <tbody id="triBody">
                                {% for ecole in ecoles %}
                                    {% if ecole.getUsers() is not empty or is_granted('ROLE_ADMIN') %}
                                        {% if is_granted('ROLE_ADMIN') or app.user in ecole.getUsers() %}
                                            <tr class="border-b transition duration-300 ease-in-out hover:bg-neutral-100 dark:border-neutral-500 dark:hover:bg-neutral-550">
                                                <td class="whitespace-nowrap px-6 py-4 font-medium">{{ ecole.getId() }}</td>
                                                <td class="whitespace-nowrap px-6 py-4">{{ ecole.getNomEcole() }}</td>
                                                <td class="whitespace-nowrap px-6 py-4">{{ ecole.getVilleEcole() }}</td>
                                                <td class="whitespace-nowrap px-6 py-4">{{ ecole.getMailEcole() }}</td>
                                                <td class="whitespace-nowrap px-6 py-4">
                                                    {# Relation manyToMany #}
                                                    {% for user in ecole.getUsers() %}
                                                        {{ user.getNom() }} {{ user.getPrenom() }}<br>
                                                    {% endfor %}
                                                </td>
                                                <td class="whitespace-nowrap px-6 py-4">
                                                    <a href="{{ path('app_ecole_show', {'id': ecole.getId()}) }}" class="inline-block px-4 py-2 leading-none border rounded text-white bg-blue-500 hover:bg-blue-600 mt-4 lg:mt-0" style="background-color: transparent;">
                                                        <img class="mx-auto h-5 w-auto" src="{{ asset('images/edition.png') }}" alt="edition">
                                                    </a>
                                                </td>
                                                <td class="whitespace-nowrap px-6 py-4">
                                                    <a href="{{ path('app_ecole_delete', {'id': ecole.getId()}) }}" class="delete-school inline-block px-4 py-2 leading-none border rounded text-white bg-red-500 hover:bg-red-600 mt-4 lg:mt-0" data-id="{{ ecole.getId() }}" style="background-color: transparent;">
                                                        <img class="mx-auto h-5 w-auto" src="{{ asset('images/effacer.png') }}" alt="effacer">
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!------------------------------------------------------- ---------------------------------------------------->
<!------------------------------------------------------- ---------------------------------------------------->
<!--------------------------------------------- Script javaScript ------------------------------------------->
<!------------------------------------------------------- ---------------------------------------------------->
<!------------------------------------------------------- ---------------------------------------------------->
        <script>
            
            // Initialization for ES Users
            import {
            Input,
            initTE,
            } from "tw-elements";

            initTE({ Input });
        </script>


        <! --  Pour la suppresion   -->
        <script>
            // Sélectionner tous les boutons de suppression ayant la classe 'delete-school'
            var btnsSuppression = document.querySelectorAll('.delete-school');

            // Parcourir tous les boutons de suppression
            btnsSuppression.forEach(function(btn) {
                // Ajouter un écouteur d'événement au clic sur chaque bouton
                btn.addEventListener('click', function(event) {
                    event.preventDefault(); // Empêcher le comportement par défaut du lien

                    var elementId = btn.getAttribute('data-id'); // Récupérer l'attribut 'data-id' du bouton

                    // Afficher une boîte de dialogue de confirmation
                    if (confirm('Êtes-vous sûr de vouloir supprimer cet élément ?')) {
                        // Si l'utilisateur confirme, rediriger vers l'URL de suppression de l'élément
                        window.location.href = '/ecole/' + elementId + '/supprimer';
                    }
                });
            });
        </script>


        <!-- Fenêtre modal -->
        <!--
        <script>
            var modal = document.getElementById('modal');
            var confirmBtn = document.getElementById('confirmBtn');
            var cancelBtn = document.getElementById('cancelBtn');

            confirmBtn.addEventListener('click', function() {
                modal.classList.add('hidden');

                var elementId = confirmBtn.getAttribute('data-id');
                window.location.href = '/ecole/' + elementId + '/supprimer';
            });

            cancelBtn.addEventListener('click', function() {
                modal.classList.add('hidden');
                // Ajoutez ici la logique de redirection vers la page souhaitée
                window.location.href = '/app_ecole'; // Exemple de redirection vers la page app_ecole
            });

            btnsSuppression.forEach(function(btn) {
                btn.addEventListener('click', function(event) {
                    event.preventDefault();

                    var elementId = btn.getAttribute('data-id');

                    modal.classList.remove('hidden');
                    confirmBtn.setAttribute('data-id', elementId);
                });
            });
        </script>
        -->



{% endblock %}




