<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}GesSchool!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {%  block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {%  block javascripts %}
            {{ encore_entry_script_tags('app') }}            
        {% endblock %}

    </head>
    



    <body class="bg-gray-300"> 
        <!-- BARRE DE NAVIGATION -->
        <nav class="flex items-center justify-between flex-wrap bg-sky-800 p-2" style="background-color: #1c74bb;">
            <div class="flex items-center flex-shrink-0 text-white mr-6">
                <img src="{{asset('images/logo.png')}}" alt="Logo" class="h-20 w-30 mr-2">   
            </div>

            <div class="block lg:hidden">
                <button id="menu-toggle" class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
                    <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
                </button>
            </div>
            
            <div id="menu" class="w-full hidden flex-grow lg:flex lg:items-center lg:w-auto">
                <ul class="flex flex-col lg:flex-row list-none lg:ml-auto">
                    <li class="nav-item">
                        <a class="inline-block py-2 px-3 hover:bg-gray-200 rounded-full" href="{{ path('app_login') }}">
                            <div class="flex items-center relative cursor-pointer whitespace-nowrap">Connexion</div>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- ........................................................................ -->
    <h2 class="mb-12 mt- 2 px-32 text-3xl font-bold flex items-center justify-center">
      Projet <u class="text-primary dark:text-primary-400">GesSchool</u>
    </h2>


    <div class="flex flex-wrap justify-center">
      <div class="flex flex-col rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] mt-8 ml-2 dark:bg-neutral-700 md:max-w-xl md:flex-row md:w-1/3">
          <img class="h-86 w-full rounded-t-lg object-cover md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="{{asset('images/Symfony.png')}}" alt="" />
          <div class="flex flex-col justify-start p-6">
              <h5 class="mb-2 text-xl font-medium text-neutral-800 dark:text-neutral-50">Symfony 6</h5>
              <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">Framework Symfony 6.</p>
              <p class="text-xs text-neutral-500 dark:text-neutral-300">Last updated 3 mins ago</p>
          </div>
      </div>
      
      <div class="flex flex-col rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] mt-8 ml-2 dark:bg-neutral-700 md:max-w-xl md:flex-row md:w-1/3">
          <img class="h-86 w-full rounded-t-lg object-cover md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="{{asset('images/Tailwind.png')}}" alt="" />
          <div class="flex flex-col justify-start p-6">
              <h5 class="mb-2 text-xl font-medium text-neutral-800 dark:text-neutral-50">TailwindCss</h5>
              <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">Bibliothèque TailwindCss.</p>
              <p class="text-xs text-neutral-500 dark:text-neutral-300">Last updated 3 mins ago</p>
          </div>
      </div>

      <div class="flex flex-col rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] mt-8 ml-2 dark:bg-neutral-700 md:max-w-xl md:flex-row md:w-1/3">
          <img class="h-86 w-full rounded-t-lg object-cover md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="{{asset('images/logo.png')}}" alt="" />
          <div class="flex flex-col justify-start p-6">
              <h5 class="mb-2 text-xl font-medium text-neutral-800 dark:text-neutral-50">MySQL</h5>
              <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">MySQL</p>
              <p class="text-xs text-neutral-500 dark:text-neutral-300">Last updated 3 mins ago</p>
          </div>
      </div>
    </div>






        <!-- SECTION PRESENTATION EQUIPE -->
        <!-- Container for demo purpose -->
<div class="container my-24 mx-auto md:px-6">
  <!-- Section: Design Block -->
  <section class="mb-32">
    <h5 class="mb-10 text-center text-xl font-semibold md:mb-6">
      Qui sommes-nous ?
    </h5>

    <!-- Comment -->
    <div class="mb-12 flex flex-wrap md:mb-0">
      <div class="w-full md:w-2/12 shrink-0 grow-0 basis-auto">
        <img src="{{asset('images/muha.jpg')}}"
          class="mb-6 w-full rounded-lg shadow-lg dark:shadow-black/20" alt="Avatar" />
      </div>

      <div class="w-full md:w-10/12 shrink-0 grow-0 basis-auto md:pl-6">
        <p class="mb-3 font-semibold">Muhammed Aydin</p>
        <p>
          Je m'appelle Muhammed AYDIN, et je suis actuellement étudiant en troisième année de licence générale d'informatique à l'école du CNAM de Strasbourg, en alternance avec l'entreprise Impact Web située à Mutzig. Mon rôle dans l'entreprise est de développer des applications web et logicielles pour les clients.
          Auparavant, j'ai obtenu mon baccalauréat scientifique au Lycée Dr. Koeberlé à Sélestat, puis j'ai poursuivi mes études avec un BTS SIO (services informatiques aux organisations) option développement.
          Mon ambition est de terminer mon baccalauréat et de poursuivre par une quatrième année de licence en informatique au CNAM. Mon objectif est d'acquérir une solide expertise en développement web et logiciel en travaillant en entreprise pendant quelques années. Cette expérience me sera utile pour créer ma propre société informatique en m'associant à des personnes compétentes et complémentaires afin de répondre efficacement aux besoins de nos clients.
          En dehors de mes études, j'aime jouer aux jeux vidéo, notamment à League of Legends, ce qui me permet de travailler en équipe et d'améliorer mon niveau d'anglais. Je suis également passionné par le bodybuilding.
        </p>
      </div>
    </div>
    </br></br>
    <!-- Comment -->
    <div class="mb-12 flex flex-wrap md:mb-0">
      <div class="w-full md:w-2/12 shrink-0 grow-0 basis-auto">
        <img src="{{asset('images/sefa.jpg')}}"
          class="mb-6 w-full rounded-lg shadow-lg dark:shadow-black/20" alt="Avatar" />
      </div>

      <div class="w-full md:w-10/12 shrink-0 grow-0 basis-auto md:pl-6">
        <p class="mb-3 font-semibold">Sefa Gunendi</p>
        <p>
          Je m'appelle Sefa GUNENDI et je suis actuellement étudiante en troisième année de licence générale d'informatique au CNAM de Strasbourg, au sein de l'entreprise Impact Web située à Mutzig. Mon rôle dans l'entreprise est de développer des applications web et logicielles pour des clients.
          Auparavant, j'ai fait un baccalauréat STMG à Haguenau, option systèmes d'information et gestion, puis j'ai poursuivi mes études avec un BTS SIO (services informatiques aux organisations) option développement.
          Après ma licence (bac+3), je pense travailler un an à temps plein dans le développement web, puis revenir au CNAM pour le bac+4 et terminer par le diplôme d'ingénieur en cours du soir.
          Mon ambition est de terminer ma licence et de poursuivre avec un titre de quatrième année en informatique au CNAM. Mon objectif est d'acquérir une solide expertise en développement web et logiciel en travaillant en entreprise pendant quelques années.
        </p>
      </div>
    </div>
    </br></br>
    <!-- Comment -->
    <div class="flex flex-wrap">
      <div class="w-full md:w-2/12 shrink-0 grow-0 basis-auto">
        <img src="{{asset('images/evan.jpg')}}"
          class="mb-6 w-full rounded-lg shadow-lg dark:shadow-black/20" alt="Avatar" />
      </div>

      <div class="w-full md:w-10/12 shrink-0 grow-0 basis-auto md:pl-6">
        <p class="mb-3 font-semibold">Evan Afonso</p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Distinctio est ab iure inventore dolorum consectetur? Molestiae
          aperiam atque quasi consequatur aut? Repellendus alias dolor ad
          nam, soluta distinctio quis accusantium!
        </p>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->
</div>
<!-- Container for demo purpose -->
    </body>



</html>
