<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}GesSchool!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {%  block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {%  block javascripts %}
            {{ encore_entry_script_tags('app') }}            
        {% endblock %}

    </head>
    



    <body>

      <nav class="flex items-center justify-between flex-wrap bg-teal-500 p-2">
        <div class="flex items-center flex-shrink-0 text-white mr-6">
          <img src="{{asset('images/GesSchool.png')}}" alt="Logo" class="h-20 w-30 mr-2">
          
        </div>
        <div class="block lg:hidden">
          <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
            <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
          </button>
        </div>
        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
          <div class="text-sm lg:flex-grow">
            
          </div>
          <div>
            <a href="{{ path('app_login') }}"  class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">Connexion</a>
          </div>
        </div>
      </nav>






        <!-- Container for demo purpose -->
        <div class="container my-24 px-6 mx-auto">

          <!-- Section: Design Block -->
          <section class="mb-32 text-gray-800">
            <style>
              .zoom:hover img {
                transform: scale(1.1);
              }
            </style>

            <h2 class="text-3xl font-bold mb-12 text-center">
              Environnement de technologie  <u class="text-blue-600">projet GesSchool</u>
            </h2>
            

            <div class="grid lg:grid-cols-3 gap-6">
              <div class="zoom shadow-lg rounded-lg relative overflow-hidden bg-no-repeat bg-cover"
                style="background-position: 50%;" data-mdb-ripple="true" data-mdb-ripple-color="dark">
                <img src="{{asset('images/Symfony.png')}}"
                  class="w-full transition duration-300 ease-linear align-middle" />
                <a href="#!">
                  <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
                    style="background-color: rgba(0, 0, 0, 0.3)">
                    <div class="flex justify-start items-end h-full">
                      <h5 class="text-lg font-bold text-white m-6">Symfony</h5>
                    </div>
                  </div>
                  <div class="hover-overlay">
                    <div
                      class="mask absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100"
                      style="background-color: rgba(253, 253, 253, 0.15)"></div>
                  </div>
                </a>
            </div>

            <div class="zoom shadow-lg rounded-lg relative overflow-hidden bg-no-repeat bg-cover"
              style="background-position: 50%;" data-mdb-ripple="true" data-mdb-ripple-color="dark">
              <img src="{{asset('images/Tailwind.png')}}"
                class="w-full transition duration-300 ease-linear align-middle" />
              <a href="#!">
                <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
                  style="background-color: rgba(0, 0, 0, 0.3)">
                  <div class="flex justify-start items-end h-full">
                    <h5 class="text-lg font-bold text-white m-6">Tailwind CSS</h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div
                    class="mask absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100"
                    style="background-color: rgba(253, 253, 253, 0.15)"></div>
                </div>
              </a>
            </div>

            <div class="zoom shadow-lg rounded-lg relative overflow-hidden bg-no-repeat bg-cover"
              style="background-position: 50%;" data-mdb-ripple="true" data-mdb-ripple-color="dark">
              <img src="{{asset('images/php.png')}}"
                class="w-full transition duration-300 ease-linear align-middle" />
              <a href="#!">
                <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
                  style="background-color: rgba(0, 0, 0, 0.3)">
                  <div class="flex justify-start items-end h-full">
                    <h5 class="text-lg font-bold text-white m-6">PHP 8</h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div
                    class="mask absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100"
                    style="background-color: rgba(253, 253, 253, 0.15)"></div>
                </div>
              </a>
            </div>

            <div class="zoom shadow-lg rounded-lg relative overflow-hidden bg-no-repeat bg-cover"
              style="background-position: 50%;" data-mdb-ripple="true" data-mdb-ripple-color="dark">
              <img src="https://mdbootstrap.com/img/new/standard/city/047.jpg"
                class="w-full transition duration-300 ease-linear align-middle" />
              <a href="#!">
                <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
                  style="background-color: rgba(0, 0, 0, 0.3)">
                  <div class="flex justify-start items-end h-full">
                    <h5 class="text-lg font-bold text-white m-6">Sun City</h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div
                    class="mask absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100"
                    style="background-color: rgba(253, 253, 253, 0.15)"></div>
                </div>
              </a>
            </div>

            <div class="zoom shadow-lg rounded-lg relative overflow-hidden bg-no-repeat bg-cover"
              style="background-position: 50%;" data-mdb-ripple="true" data-mdb-ripple-color="dark">
              <img src="https://mdbootstrap.com/img/new/standard/city/048.jpg"
                class="w-full transition duration-300 ease-linear align-middle" />
              <a href="#!">
                <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
                  style="background-color: rgba(0, 0, 0, 0.3)">
                  <div class="flex justify-start items-end h-full">
                    <h5 class="text-lg font-bold text-white m-6">Paris flavor</h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div
                    class="mask absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100"
                    style="background-color: rgba(253, 253, 253, 0.15)"></div>
                </div>
              </a>
            </div>

            <div class="zoom shadow-lg rounded-lg relative overflow-hidden bg-no-repeat bg-cover"
                style="background-position: 50%;" data-mdb-ripple="true" data-mdb-ripple-color="dark">
                <img src="https://mdbootstrap.com/img/new/standard/city/049.jpg"
                  class="w-full transition duration-300 ease-linear align-middle" />
                <a href="#!">
                  <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
                    style="background-color: rgba(0, 0, 0, 0.3)">
                    <div class="flex justify-start items-end h-full">
                      <h5 class="text-lg font-bold text-white m-6">Sky is the limit</h5>
                    </div>
                  </div>
                  <div class="hover-overlay">
                    <div
                      class="mask absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100"
                      style="background-color: rgba(253, 253, 253, 0.15)"></div>
                  </div>
                </a>
            </div>
      

          </section>
</div>
    </body>

    


</html>
